<% provide(:title, "Conway's Game of Life") %>
  <body class="conway">
    <h1>Conway's Game of Life</h1>
    <script type="text/javascript">
      new GameOfLife();
    </script>
    <a class="conway" href="http://www.ibm.com/developerworks/library/wa-coffeescriptcanvas/#toggle">
      Thank IBM developer for the instance source (link)
    </a>
  </body>

