<footer class="footer">
  <small>
    My <a href="http://binchan.me/">Toy App</a>
    created according to
    <a href="http://www.railstutorial.org/">Michael Hartl's rails tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
